{erl_opts, [debug_info]}.

{format_erl_opts, [{features, []}]}.

{deps, []}.

{project_plugins, [rebar3_format, rebar3_ex_doc]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [elector]}]}.

{hex, [{doc, ex_doc}]}.

{ex_doc,
 [{source_url, <<"https://github.com/alfetahe/elector">>},
  {extras, [
    {<<"README.md">>, #{title => <<"Getting Started">>}},
    {<<"CHANGELOG.md">>, #{title => <<"Changelog">>}}
  ]},
  {main, <<"readme">>},
  {homepage_url, <<"https://github.com/alfetahe/elector">>},
  {api_reference, true}]}.

{format,
 [{formatter, default_formatter},
  {options, #{paper => 100, inline_fields => {when_under, 5}}}]}.
