{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_format]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [elector]}]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, edoc}]}.

{ex_doc,
 [{source_url, <<"https://github.com/alfetahe/elector">>},
  {extras, [<<"README.md">>, <<"LICENSE.md">>]},
  {main, <<"readme">>}]}.
